body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    padding: 50px;
    color: #333;
    background-image: url("./img/constellations-2609647.jpg");
    background-size: cover;
    background-position: center;
    max-height: auto;
}

.app {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 30px;
    text-align: center;
    color: #333974;
    font-size: 36px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #2a065f;
}

p {
    margin-bottom: 20px;
    line-height: 1.6;
}


select {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 100%;
    transition: border-color 0.3s ease;
}

input{
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 96%;
    transition: border-color 0.3s ease;
}

input:focus,
select:focus {
    border-color: #333;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    background-color: #333974;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2a065f;
}

.todo-list {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #333974;
}

.todo {
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todoForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.remove {
    background-color: #b03939;
}

.complete {
    background-color: #3d7f3d;
}

.search input {
    flex: 1;
    margin-right: 10px;
}

.addTaskBtn {
    flex-shrink: 0;
    padding: 10px 20px;
    border: none;
    background-color: #333974;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.addTaskBtn:hover {
    background-color: #2a065f;
}
