body{
  font-family: Arial;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
  background-image: url("./img/luca-micheli-r9RW20TrQ0Y-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.app{
    max-width: 600px;
    margin: 0 auto;
    background-color: #efefef;
    padding: 20px 40px;
    border-radius: 10px;
}
h1{
    margin-bottom: 20px;
    text-align: center;
}
h2{
    margin-bottom: 10px;
}
p{
    margin-bottom: 10px;
}
input{
    box-sizing: border-box;
}
button{
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    background-color: #333974;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.3s;
    opacity: 0.9;

}

button:hover{
    opacity: 1;
}

.todo-list{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #555;
}

.todo{
   
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.remove{
    background-color: #ff0000;
}


.complete{
    background-color:#5Cb85c ;
 }
 ```

.todoForm{
    padding-bottom: 1.5rem;
}

input, select{
   padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
}

.filter, .search{
    border-bottom:1px solid #555;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.filter-options{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.filter-options div{
    flex: 1 1 0;    
                                                     
}

